<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="my_mall.mapper.GoodsMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO my_mall.goods (
            name, intro, category_id, cover_img,  detail_content,
            original_price, selling_price, stock_num, sell_status,
            create_user, create_time, update_user, update_time
        ) VALUES (
                     #{name}, #{intro}, #{categoryId}, #{coverImg}, #{detailContent},
                     #{originalPrice}, #{sellingPrice}, #{stockNum}, #{sellStatus},
                     #{createUser}, #{createTime}, #{updateUser}, #{updateTime}
                 )
    </insert>
    <update id="updateStatus">
        update my_mall.goods
        set sell_status=#{sellStatus}
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
    <update id="updateGoods">
        update my_mall.goods
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="intro != null">
                intro = #{intro},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="coverImg != null">
                cover_img = #{coverImg},
            </if>
            <if test="detailContent != null">
                detail_content = #{detailContent},
            </if>
            <if test="originalPrice != null">
                original_price = #{originalPrice},
            </if>
            <if test="sellingPrice != null">
                selling_price = #{sellingPrice},
            </if>
            <if test="stockNum != null">
                stock_num = #{stockNum},
            </if>
            <if test="sellStatus != null">
                sell_status = #{sellStatus},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="deductStock">
        <foreach collection="list" item="item" separator=";">
            UPDATE goods
            SET stock_num = stock_num - #{item.count},
            update_time = NOW()
            WHERE id = #{item.id}
            AND stock_num >= #{item.count}
        </foreach>
    </update>
    <update id="recoverStock">
        <foreach collection="stockList" item="item" separator=";">
            UPDATE goods
            SET stock_num = stock_num + #{item.count},
            update_time = NOW()
            WHERE id = #{item.id}
        </foreach>
    </update>
    <delete id="deleteBatch">
        delete from my_mall.goods
        where id =#{id}
    </delete>

    <select id="getPage" resultType="my_mall.entity.po.Goods">
        select * from my_mall.goods
        <where>
            <if test="keyword!=null and keyword!='' ">
                and name like CONCAT('%',#{keyword},'%')
            </if>
            <if test="categoryId!=null and categoryId!=''">
                and category_id=#{categoryId}
            </if>
        </where>
    </select>
    <select id="page" resultType="my_mall.entity.po.Goods">
        select * from my_mall.goods
        <where>
            <if test="goodsName!=null">
                and name Like concat('%',#{goodsName},'%')
            </if>
            <if test="sellStatus!=null">
                and sell_status=#{sellStatus}
            </if>
        </where>
    </select>
    <select id="getByIdBatch" resultType="my_mall.entity.po.Goods">
        select * from my_mall.goods
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>
