<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="my_mall.mapper.IndexConfigMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into my_mall.index_config (
            name, type, goods_id, redirect_url, `rank`,
            create_time, create_user, update_time, update_user
        ) values (
                     #{name}, #{type}, #{goodsId}, #{redirectUrl}, #{rank},
                     #{createTime}, #{createUser}, #{updateTime}, #{updateUser}
                 )
    </insert>

    <update id="update">
        update my_mall.index_config
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId},
            </if>
            <if test="redirectUrl != null">
                redirect_url = #{redirectUrl},
            </if>
            <if test="rank != null">
                `rank` = #{rank},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteBatch">
        delete from my_mall.index_config
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getPage" resultType="my_mall.entity.po.IndexConfig">
        select * from my_mall.index_config
        <if test="type!=null">
            where type=#{type}
        </if>
    </select>

    <select id="getByType" resultType="my_mall.entity.po.IndexConfig">
        select * from my_mall.index_config
        where type = #{type}
        order by `rank` asc
    </select>
</mapper>
