<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="my_mall.mapper.OrderMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO my_mall.order (
            order_no, user_id, total_price, pay_status, pay_type, pay_time,
            order_status, extra_info, create_time, update_time
        ) VALUES (
                     #{orderNo}, #{userId}, #{totalPrice}, #{payStatus}, #{payType}, #{payTime},
                     #{orderStatus}, #{extraInfo}, #{createTime}, #{updateTime}
                 )
    </insert>
    <update id="update">
        UPDATE my_mall.order
        <set>
            <if test="totalPrice != null">total_price = #{totalPrice},</if>
            <if test="payStatus != null">pay_status = #{payStatus},</if>
            <if test="payType != null">pay_type = #{payType},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="orderStatus != null">order_status = #{orderStatus},</if>
            <if test="extraInfo != null">extra_info = #{extraInfo},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        WHERE order_no = #{orderNo}
    </update>
    <update id="setStatus">
        update my_mall.`order`
        set order_status = #{status},
        update_time = #{updateTime}
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
    <update id="updateBatch">
        <foreach collection="ordersList" item="order" separator=";">
            update my_mall.`order`
            <set>
                <if test="order.totalPrice != null">total_price = #{order.totalPrice},</if>
                <if test="order.payStatus != null">pay_status = #{order.payStatus},</if>
                <if test="order.payType != null">pay_type = #{order.payType},</if>
                <if test="order.payTime != null">pay_time = #{order.payTime},</if>
                <if test="order.orderStatus != null">order_status = #{order.orderStatus},</if>
                <if test="order.extraInfo != null">extra_info = #{order.extraInfo},</if>
                <if test="order.updateTime != null">update_time = #{order.updateTime},</if>
            </set>
            where order_no=#{order.orderNo}
        </foreach>
    </update>
    <select id="getByOrderNo" resultType="my_mall.entity.po.Order">
        select * from my_mall.`order`
        where order_no=#{orderNo}
    </select>
    <select id="getByUserId" resultType="my_mall.entity.po.Order">
        select * from my_mall.`order`
        <where>
            user_id=#{userId}
            <if test="orderPageDTO.orderStatus!=null">
                <!-- -99 表示"已关闭"分组，包含已关闭(-1)与已取消(-3) -->
                <choose>
                    <when test="orderPageDTO.orderStatus == -99">
                        and order_status in (-1, -3)
                    </when>
                    <otherwise>
                        and order_status=#{orderPageDTO.orderStatus}
                    </otherwise>
                </choose>
            </if>
            <if test="orderPageDTO.orderNo!=null and orderPageDTO.orderNo!=''">
                and order_no=#{orderPageDTO.orderNo}
            </if>
        </where>
        order by create_time desc
    </select>
    <select id="aGetByUserId" resultType="my_mall.entity.po.Order">
        select * from my_mall.`order`
        <where>
            <if test="orderStatus!=null">
                and order_status=#{orderStatus}
            </if>
            <if test="orderNo!=null and orderNo!=''">
                and order_no=#{orderNo}
            </if>
        </where>
    </select>
    <select id="getByIds" resultType="my_mall.entity.po.Order">
        select * from my_mall.`order`
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="getByStatusAndTime" resultType="my_mall.entity.po.Order">
        select * from my_mall.`order`
        where order_status=#{orderStatus}
        and create_time&lt;#{localDateTime}
    </select>
</mapper>
