<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="my_mall.mapper.OrderAddressMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO my_mall.order_address (
            username, user_phone, province, city, region, detail_address, order_id
        ) VALUES (
                     #{username}, #{userPhone}, #{province}, #{city}, #{region}, #{detailAddress}, #{orderId}
                 )
    </insert>

</mapper>
