<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="my_mall.mapper.ShoppingCartMapper">

    <insert id="insert">
        insert into my_mall.shopping_cart(user_id, goods_id, goods_count, create_time, update_time)
        values (#{userId},#{goodsId},#{goodsCount},#{createTime},#{updateTime})
    </insert>
    <update id="update">
        update my_mall.shopping_cart
        <set>
            <if test="goodsCount!=null">
                goods_count=#{goodsCount},
            </if>
            <if test="updateTime!=null">
                update_time=#{updateTime}
            </if>
        </set>
        where id=#{id}
    </update>
    <delete id="deleteById">
        delete from my_mall.shopping_cart
        where id=#{cartItemId}
    </delete>
    <delete id="deleteBatch">
        DELETE FROM my_mall.shopping_cart
        WHERE id IN
        <foreach collection="cartItemIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND user_id = #{userId}
    </delete>
    <select id="page" resultType="my_mall.entity.vo.ShoppingCartItemVO">
        select
            sc.id as cartItemId,
            sc.goods_count as goodsCount,
            g.cover_img as coverImg,
            sc.goods_id as goodsId,
            g.name as goodsName,
            g.selling_price as sellingPrice
        from my_mall.shopping_cart as sc
                 left join my_mall.goods as g on sc.goods_id = g.id
        where sc.user_id = #{userId}
        order by sc.create_time desc
    </select>
    <select id="getWithGoods" resultType="my_mall.entity.dto.OrderCartDTO">
        select
            sc.goods_id as goodsId,
            g.name as goodsName,
            g.cover_img as coverImg,
            g.selling_price as price,
            sc.goods_count as count
        from my_mall.shopping_cart as sc left join my_mall.goods as g on sc.goods_id=g.id
        where sc.id in
        <foreach collection="cartItemIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        and sc.user_id = #{userId}
    </select>
    <select id="selectTopSellingGoodsIds" resultType="java.lang.Long">
        SELECT oi.goods_id
        FROM my_mall.order_item oi
                 INNER JOIN my_mall.`order` o ON oi.order_id = o.id
        WHERE o.order_status IN (1,2,3,-1)
        GROUP BY oi.goods_id
        ORDER BY SUM(oi.count) DESC
        LIMIT #{limit}
    </select>

    <delete id="deleteByGoodsId">
        DELETE FROM my_mall.shopping_cart WHERE goods_id = #{goodsId}
    </delete>
</mapper>
